header h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #521908;
    line-height: 2;
    text-align: center;
    height:20vh;
    padding-top: 30px;    
    background-color:#f7ebd3;
    border-radius: 10px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color:chocolate;
    text-align: center;
    height: 15vh;
}


#página {
    text-align: right;
    font-size: 22px;
    list-style: none;
    padding-left: 1150px;
    
}

#produtos {
text-align:left;
font-size: 22px;
list-style: none;
padding-left:100px;
}

#página a {    
color:#823919;
}

#produtos a {
color:#823919;
}

#controle {
    display:flex;
}


footer {
    text-align: center;
    color:#521908;
    font-size: 22px;
}
