* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1,
h2,
h3 {
    font-size: 3rem;
    color: #823919;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
    padding-top: 30px;
}

h1 before {
content:".";
display: block;
}

h2 before {
    content:icon;
    display: block;
}

.form {
    width:100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width:100%;
}

.form label {
    color:#ca7b42;
    line-height: 1;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border:1px solid #521908;
    border-radius: 8px;
    }

.form  textarea {
    min-height: 13rem;
    resize: vertical;
}    

.form input  hover,
.form input  focus,
.form textarea  hover,
.form textarea  focus {
.outline none
.border-color: none;
box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    display:block;
    padding: 1rem;
    background:#ca7b42;
    color: #521908;
    font:inherit;
    text-transform: uppercasse;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover
.form button:focus {
    outline: none;
    background: #09d;
}

#contato {
text-align:left;
font-size: 22px;
list-style: none;
padding-right: 1100px;
}

#contato a {
color: #823919;
}

footer {
    text-align: right;
    font-size: 15px;
    color:#ffdbaf
}

@media (max-width:999px) {

    header {
        overflow-x:hidden;
    }

    body {
        overflow-x:hidden;
    }
    
}
