* {
    margin: 20px;
}

header {
    color:#521908;
    text-align: center;
    }

header h2{
    padding-bottom: 75px;
    padding-top: 60px;
    text-align: center;
    font-size: 50px;
    background-color: #f7ebd3;
    border-radius: 15px;
    padding-right: 30px;
    height: 3vh;
    display: block;
    border:#823919 solid 2px;
}
header strong {
    color:#521908;
}

body {
    background-color: white;
    color:#823919;
    font-size: 30px;
    text-indent: 5rem;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 2em;
    text-align: justify;
}

main {
    background: white url("./img/FotoPaula.jpg") no-repeat center;
    height:70vh;
    border-radius: 50px;
    }

strong {
    color:#ca7b42;
}

footer {

    text-align: right;
    font-size: 15px;
    color:#823919;
}

#página {
    text-align:right;
    font-size: 22px;
    list-style: none;
    padding-left:350px;
}

#início {
text-align:left;
font-size: 22px;
list-style: none;
padding-right: 300px;
}

#página a {    
color:#521908;
font-size: 22px;
}

#início a {
color:#521908;
font-size: 22px;
}

#controle {
    display:flex;
     }
@media (max-width:999px) {

        header {
            overflow-x:hidden;
        }

        body {
            overflow-x:hidden;
        }
        
    }
   



