*{
  margin: 0;
  padding: 0;
  }

a {
  color:#521908;
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
  }

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color:#521908;
  text-align: center;
  }

  .container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-left: solid 4px #f7ebd3;
    border-right: solid 4px #f7ebd3;
}

.container .image {
    float: left;
    margin-right: 20px;
    width: 550px; 
    height: auto; 
}

.container .text {
    flex: 1; 
    font-size: 30px;
    color: #ca7b42; 
    padding-left: 150px;
    padding-right: 110px;
    padding-bottom: 25px;
    letter-spacing: 8px;
    text-align: justify;
    line-height: 2;
  }


nav {
  
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 16vh;
  padding-top: 15px;
  text-align: center;
  color:#521908;
  line-height: 2.2;
  padding-bottom: 15px;
  border-top: solid 4px #f7ebd3;
  border-left: solid 4px #f7ebd3;
  border-right: solid 4px #f7ebd3;
    }

img {
  background: url("./img/FotoPaula.jpg") no-repeat left top fixed;
  background-size: cover;
  height: 92vh;
    }

.nav-list {
  list-style: none;
  display:flex;
  padding-bottom: 5px;
  padding-left: 200px;
  text-align: justify;
  font-size: 30px;
  color:#521908;
  background-color: #f7ebd3;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 40px;
  font-size: 30px;
  }

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

h2 {
  font-size: 30px;
  font-family: sans-serif;
}  

p {
  color:#f7ebd3;
  font-family: sans-serif;
}

footer {
  border-bottom: solid 4px #f7ebd3;
  border-left: solid 4px #f7ebd3;
  border-right: solid 4px #f7ebd3;
  background-color:#f7ebd3;
  border-radius: 5px;
  text-align:center;
  font-size: 10px;
  padding-top: 18px;
  padding-bottom: 20px;
 }

 footer a{
  color:#521908;
 }

 footer p {
  color:#fff;
  font-size: 13px;
 }

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
 
